n8n/workflows/seo-keyword-research.json
{
  "updatedAt": "2026-02-06T20:21:23.399Z",
  "createdAt": "2026-02-06T00:11:16.972Z",
  "id": "RSR0psjPx60gPjTG",
  "name": "SEO Keyword Research",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-keyword-research",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "c9324432-1069-482e-94ac-399c5860aa7e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NZcE8PYjuCxc0c1R",
          "name": "Header Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://googleads.googleapis.com/v19/customers/1012249072:generateKeywordIdeas",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "developer-token",
              "value": "0mn5_IJ-1masEmjWt7B8vQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ keywordSeed: { keywords: [$json.body.keyword_seed] }, language: 'languageConstants/1004', geoTargetConstants: ['geoTargetConstants/2380'], keywordPlanNetwork: 'GOOGLE_SEARCH', includeAdultKeywords: false }) }}",
        "options": {}
      },
      "id": "google-ads-api",
      "name": "Google Ads API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        304
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "toGbgrTi5LKN88Rj",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Google Ads API response into structured keyword data\nconst input = $input.first().json;\nconst results = input.results || [];\nconst seedKeyword = $('Webhook Trigger').first().json.body.keyword_seed;\nconst context = $('Webhook Trigger').first().json.body.context || '';\n\nconst keywords = results.map(r => {\n  const metrics = r.keywordIdeaMetrics || {};\n  const monthlyVolumes = (metrics.monthlySearchVolumes || []).map(m => m.monthlySearches || 0);\n  \n  // Pad to 12 months if needed\n  while (monthlyVolumes.length < 12) monthlyVolumes.unshift(0);\n  \n  return {\n    term: r.text || '',\n    volume: parseInt(metrics.avgMonthlySearches) || 0,\n    competition: metrics.competition || 'UNSPECIFIED',\n    competition_index: parseInt(metrics.competitionIndex) || 0,\n    trend_12m: monthlyVolumes.slice(-12),\n    cpc: parseFloat(metrics.highTopOfPageBidMicros) / 1000000 || 0\n  };\n}).filter(k => k.volume > 0);\n\n// Sort by volume descending\nkeywords.sort((a, b) => b.volume - a.volume);\n\n// Take top 50\nconst topKeywords = keywords.slice(0, 50);\n\nreturn [{ json: { keywords: topKeywords, seed: seedKeyword, context: context } }];"
      },
      "id": "parse-data",
      "name": "Parse Google Ads Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "Sei un esperto SEO specializzato nel mercato italiano. Analizza le keyword fornite e arricchiscile con informazioni utili per un content strategist.",
              "role": "system"
            },
            {
              "content": "={{ 'Analizza queste keyword per il mercato italiano.\\n\\nKeyword seed: ' + $json.seed + '\\nContesto sito: ' + $json.context + '\\n\\nKeyword con dati Google Ads:\\n' + JSON.stringify($json.keywords, null, 2) + '\\n\\nPer ogni keyword:\\n1. Classifica l\\'intento di ricerca: \"informazionale\", \"transazionale\" o \"navigazionale\"\\n2. Scrivi un breve commento (max 1 frase) sulla qualità/pertinenza della keyword per un blog e-commerce italiano\\n3. Suggerisci fino a 5 keyword long-tail aggiuntive non presenti nella lista, con intento e commento\\n\\nRispondi SOLO con JSON valido nel formato:\\n{\\n  \"analyzed_keywords\": [{\"term\": \"...\", \"intent\": \"...\", \"ai_comment\": \"...\"}],\\n  \"additional_keywords\": [{\"term\": \"...\", \"volume\": 0, \"competition\": \"UNKNOWN\", \"competition_index\": 0, \"trend_12m\": [], \"cpc\": 0, \"intent\": \"...\", \"ai_comment\": \"...\"}]\\n}' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 2000,
          "temperature": 0.3
        }
      },
      "id": "ai-analyze",
      "name": "AI Keyword Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        928,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge Google Ads data with AI analysis\nconst googleData = $('Parse Google Ads Data').first().json;\nconst aiResponseRaw = $input.first().json.message?.content || $input.first().json.text || '{}';\n\nlet aiData;\ntry {\n  // Extract JSON from AI response (handle markdown code blocks)\n  const jsonMatch = aiResponseRaw.match(/```json?\\n?([\\s\\S]*?)\\n?```/) || [null, aiResponseRaw];\n  aiData = JSON.parse(jsonMatch[1]);\n} catch (e) {\n  aiData = { analyzed_keywords: [], additional_keywords: [] };\n}\n\n// Merge AI analysis into Google data\nconst enrichedKeywords = googleData.keywords.map(kw => {\n  const aiInfo = (aiData.analyzed_keywords || []).find(a => \n    a.term.toLowerCase() === kw.term.toLowerCase()\n  );\n  return {\n    ...kw,\n    intent: aiInfo?.intent || 'informazionale',\n    ai_comment: aiInfo?.ai_comment || ''\n  };\n});\n\n// Add AI-suggested keywords\nconst additionalKeywords = (aiData.additional_keywords || []).map(kw => ({\n  term: kw.term,\n  volume: kw.volume || 0,\n  competition: kw.competition || 'UNKNOWN',\n  competition_index: kw.competition_index || 0,\n  trend_12m: kw.trend_12m || [],\n  cpc: kw.cpc || 0,\n  intent: kw.intent || 'informazionale',\n  ai_comment: kw.ai_comment || 'Suggerita dall\\'AI'\n}));\n\nconst allKeywords = [...enrichedKeywords, ...additionalKeywords];\n\nreturn [{\n  json: {\n    success: true,\n    keywords: allKeywords,\n    meta: {\n      seed: googleData.seed,\n      total_results: allKeywords.length,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1504,
        304
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Google Ads API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Ads API": {
      "main": [
        [
          {
            "node": "Parse Google Ads Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Google Ads Data": {
      "main": [
        [
          {
            "node": "AI Keyword Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Keyword Analysis": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6b6f1b4b-029a-46cd-a8a5-2518e443e505",
  "activeVersionId": null,
  "versionCounter": 17,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T00:11:16.975Z",
      "createdAt": "2026-02-06T00:11:16.975Z",
      "role": "workflow:owner",
      "workflowId": "RSR0psjPx60gPjTG",
      "projectId": "lVd1VtX5kCyGsdRU",
      "project": {
        "updatedAt": "2025-12-11T15:28:34.265Z",
        "createdAt": "2025-12-06T08:29:19.886Z",
        "id": "lVd1VtX5kCyGsdRU",
        "name": "Andrea Marrano <andrea.marrano92@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "025b2fdc-0769-4611-a3a9-f3379d6b0c50",
        "projectRelations": [
          {
            "updatedAt": "2025-12-06T08:29:19.887Z",
            "createdAt": "2025-12-06T08:29:19.887Z",
            "userId": "025b2fdc-0769-4611-a3a9-f3379d6b0c50",
            "projectId": "lVd1VtX5kCyGsdRU",
            "user": {
              "updatedAt": "2026-02-05T23:54:33.000Z",
              "createdAt": "2025-12-06T08:29:19.027Z",
              "id": "025b2fdc-0769-4611-a3a9-f3379d6b0c50",
              "email": "andrea.marrano92@gmail.com",
              "firstName": "Andrea",
              "lastName": "Marrano",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-11T15:28:38.063Z",
                "personalization_survey_n8n_version": "1.122.5"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "wzNBwocIe8cGsTxK",
                "userActivatedAt": 1767367534962,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770210149774
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
